In [2]:
import pickle 
import pandas as pd

In [5]:
df_rcl1 = pd.read_excel('전처리완료1.xlsx')

In [6]:
df_rcl2 = pd.read_excel('전처리완료2.xlsx')

In [7]:
df_rcl1.head()

,Unnamed: 0,CMPLID,MAKE,MODEL,YEAR,COMP_NAME,INJURED,DEATHS,DATEA,LDATE,MILES,CDESCR,PROD_TYPE,label,inv_date
0,0,1,VOLVO,760,1987,ENGINE AND ENGINE COOLING:COOLING SYSTEM:RADIA...,0,0,19950103,19950103,77389.203647,RADIATOR FAILED @ HIGHWAY SPEED OBSTRUCTING DR...,V,0,0
1,1,2,FORD,THUNDERBIRD,1992,"FUEL SYSTEM, GASOLINE:DELIVERY",0,0,19950103,19950103,56455.172906,"FUEL LEAKED FROM FUEL TANK AREA, EMITTING STRO...",V,0,0
2,2,3,KIA,SEPHIA,1994,POWER TRAIN:AUTOMATIC TRANSMISSION,0,0,19950103,19950103,66395.043027,SHIFTED INTO REVERSE VEHICLE JERKED VIOLENTLY....,V,0,0
3,3,4,DODGE,600,1987,"FUEL SYSTEM, GASOLINE:STORAGE:TANK ASSEMBLY",0,0,19950103,19950103,69829.928833,FUEL TANK ; LEAKS BECAUSE OF RUST GAS LEAK BY ...,V,0,0
4,4,5,DODGE,CARAVAN,1991,SEATS,0,0,19950103,19950103,75165.133801,"DRIVER SIDE SEAT FRAME BROKE IN TWO, CAUSING S...",V,0,0

In [8]:
df_rcl2.head()

,Unnamed: 0,CMPLID,MAKE,MODEL,YEAR,COMP_NAME,INJURED,DEATHS,DATEA,LDATE,MILES,CDESCR,PROD_TYPE,label,inv_date
0,103555,1103556,CHEVROLET,IMPALA,2011,ELECTRICAL SYSTEM,0,0,20140828,20140828,42000.0,TL* THE CONTACT OWNS A 2011 CHEVROLET IMPALA. ...,V,0,0
1,103556,1103557,GMC,YUKON DENALI,2004,ELECTRICAL SYSTEM,1,0,20140828,20140828,136000.0,AT APPROXIMATELY 1:54 PM I WAS LEAVING WORK AN...,V,0,0
2,103557,1103558,CADILLAC,DEVILLE,2005,ELECTRICAL SYSTEM:IGNITION,0,0,20140828,20140828,111808.0,TL* THE CONTACT OWNS A 2005 CADILLAC DEVILLE. ...,V,0,0
3,103558,1103559,CADILLAC,DEVILLE,2005,STEERING,0,0,20140828,20140828,111808.0,TL* THE CONTACT OWNS A 2005 CADILLAC DEVILLE. ...,V,0,0
4,103559,1103560,CADILLAC,DEVILLE,2005,AIR BAGS,0,0,20140828,20140828,111808.0,TL* THE CONTACT OWNS A 2005 CADILLAC DEVILLE. ...,V,0,0

In [9]:
df_rcl = pd.concat([df_rcl1,df_rcl2],ignore_index = True)

In [11]:
df_rcl['COMP_NAME'].value_counts()

ELECTRICAL SYSTEM                                                                   130593
ENGINE                                                                              105679
AIR BAGS                                                                            101914
POWER TRAIN                                                                          95413
STEERING                                                                             92245
                                                                                     ...
EQUIPMENT:RECREATIONAL VEHICLE/TRAILER:120/240 VAC ELECTRICAL SYSTEM:INVERTER            1
ELECTRICAL SYSTEM:PROPULSION SYSTEM:TRACTION BATTERY THERMAL:MANAGEMENT:SOFTWARE         1
ELECTRICAL SYSTEM:ADAS:PARKING ASSIST:SOFTWARE                                           1
FUEL SYSTEM, GASOLINE:FUEL INJECTION SYSTEM:MASS AIR FLOW (MAF) SENSOR                   1
ENGINE AND ENGINE COOLING:ENGINE:OTHER FUEL TYPES:TURBO/SUPERCHARGER:INTERCOOLER         1
Name: COMP_NAME, Length: 618, dtype: int64

리콜부품대분류

In [12]:
from tqdm import tqdm 

for i in tqdm(range(len(df_rcl))):
    cp = df_rcl.loc[i,'COMP_NAME']
    if ':' in cp:
        cp = cp.split(':')[0]
        df_rcl.loc[i,'COMPNAME'] = ''.join(cp)

100%|██████████████████████████████████████████████████████████████████████| 1700773/1700773 [03:41<00:00, 7691.82it/s]

In [13]:
df_rcl['COMPNAME'].value_counts()

ENGINE AND ENGINE COOLING       75998
POWER TRAIN                     75668
SERVICE BRAKES, HYDRAULIC       74254
STRUCTURE                       71071
ELECTRICAL SYSTEM               52044
VISIBILITY                      40391
SUSPENSION                      36517
AIR BAGS                        26287
STEERING                        24116
FUEL SYSTEM, GASOLINE           23366
EXTERIOR LIGHTING               17790
SEAT BELTS                      15828
TIRES                           14616
EQUIPMENT                       14415
VEHICLE SPEED CONTROL           10632
LATCHES/LOCKS/LINKAGES          10165
SEATS                            6718
FORWARD COLLISION AVOIDANCE      6601
WHEELS                           4321
SERVICE BRAKES, AIR              3457
FUEL SYSTEM, OTHER               2892
PARKING BRAKE                    1823
LANE DEPARTURE                   1489
BACK OVER PREVENTION             1151
CHILD SEAT                        490
ELECTRONIC STABILITY CONTROL      333
FUEL SYSTEM, DIESEL               204
HYBRID PROPULSION SYSTEM           74
TRAILER HITCHES                    71
COMMUNICATION                       8
EQUIPMENT ADAPTIVE/MOBILITY         6
OTHER                               4
SERVICE BRAKES, ELECTRIC            3
Name: COMPNAME, dtype: int64

In [15]:
df_rcl.to_pickle('df_cmpl.pickle')

In [16]:
df_recall = pd.read_pickle('df_rcl')

In [18]:
df_recall['COMPNAME'].value_counts()

ELECTRICAL SYSTEM:SOFTWARE                                                      18620
COMMUNICATION: AUTO CRASH NOTIFICATION                                          16630
EQUIPMENT                                                                       11714
EQUIPMENT:RECREATIONAL VEHICLE/TRAILER                                           7787
EQUIPMENT ADAPTIVE/MOBILITY                                                      5198
                                                                                ...
ELECTRICAL SYSTEM:CYBERSECURITY                                                     1
Tether, Lower Anchor (on car seat or vehicle)                                       1
POWER TRAIN:AUTOMATIC TRANSMISSION:INTERNAL:PARK PRAWL                              1
PARKING BRAKE:CRITICAL FASTENERS                                                    1
ENGINE AND ENGINE COOLING:ENGINE:OIL/LUBRICATION:PRESSURE/TEMPERATURE SENSOR        1
Name: COMPNAME, Length: 563, dtype: int64

In [19]:
from tqdm import tqdm 

for i in tqdm(range(len(df_recall))):
    cp = df_recall.loc[i,'COMPNAME']
    if ':' in cp:
        cp = cp.split(':')[0]
        df_recall.loc[i,'COMPNAME'] = ''.join(cp)

100%|████████████████████████████████████████████████████████████████████████| 232184/232184 [01:08<00:00, 3413.93it/s]

In [20]:
df_recall['COMPNAME'].value_counts()

ELECTRICAL SYSTEM                                33492
EQUIPMENT                                        30131
COMMUNICATION                                    17175
EXTERIOR LIGHTING                                13603
AIR BAGS                                         12652
STEERING                                         10976
FUEL SYSTEM, GASOLINE                            10080
SERVICE BRAKES, HYDRAULIC                         9703
SEAT BELTS                                        9152
SUSPENSION                                        8764
ENGINE AND ENGINE COOLING                         8721
STRUCTURE                                         8643
POWER TRAIN                                       6947
SERVICE BRAKES, AIR                               6705
TIRES                                             5419
EQUIPMENT ADAPTIVE/MOBILITY                       5261
VISIBILITY                                        4751
SEATS                                             4413
VEHICLE SPEED CONTROL                             3568
LATCHES/LOCKS/LINKAGES                            3390
WHEELS                                            2922
BACK OVER PREVENTION                              2425
FUEL SYSTEM, DIESEL                               2119
TRAILER HITCHES                                   1897
FUEL SYSTEM, OTHER                                1714
PARKING BRAKE                                     1622
ELECTRONIC STABILITY CONTROL                      1352
CHILD SEAT                                        1071
UNKNOWN OR OTHER                                   700
ENGINE                                             526
SERVICE BRAKES                                     500
INTERIOR LIGHTING                                  428
VISIBILITY/WIPER                                   326
OTHER                                              310
HYBRID PROPULSION SYSTEM                           256
FORWARD COLLISION AVOIDANCE                        253
SERVICE BRAKES, ELECTRIC                           150
TRACTION CONTROL SYSTEM                             32
LANE DEPARTURE                                      31
TBD                                                  3
Tether, Lower Anchor (on car seat or vehicle)        1
Name: COMPNAME, dtype: int64

In [21]:
df_recall.to_pickle('df_recall.pickle')